@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}


body,h1,h2 {
    margin:0px;
    padding:0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size:36px;
    font-weight: bold;
    font-style: italic;
}



.mainbox {
    width: 650px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid skyblue;
    background-color: aliceblue;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}


.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.sns-img {
    width: 25px;
    height:25px;
    border-radius: 6px;
}


.profile{
    display: inline-block;
    line-height: 1.5em;
    height: 200px;
}

.name-text {
    font-size:16px;
    color:#7c7c7c;
    font-weight: bold;
}

.name-center{
    font-size:15px;
    color:#4C4C4C
}

.profile-left{
    padding: 0px;
    width: 170px;
}

.profile-center{
    width: 440px;
}

.profile-right{
    padding: 0px;
    width: 20px;
    text-align: right;
}

.main{
    display: inline-block;
    line-height: 1.5em;
}

.table2{
    width: 650px;
}

.vertical-left{
    width: 100px;
    padding-left: 10px;
    border-right: 2px dotted #7c7c7c;   
}



.vertical-right{
    width: 550px;
    padding-left: 20px;
}


footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}